<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
    <testsuite>
        <directory>tests</directory>
        <exclude>tests/storage/MemcacheStorageTest.php</exclude>
    </testsuite>
    <testsuite>
        <file phpVersion="7" phpVersionOperator="&lt;">tests/storage/MemcacheStorageTest.php</file>
    </testsuite>
</phpunit>